.row
  .col-md-9
    .row
      .col-sm-12.search-input-container
        .input-group
          input.main-search-input.form-control.input-lg(type='text')
          span.input-group-btn
            button.main-search-btn.btn.btn-primary.btn-lg Hae
    .row
      .col-md-12
        .main-search-results
        .ship-api-load-container
  .col-md-3
    h4 Aikaisemmat haut
    .ship-api-previous-searches